In [1]:
import pyodbc
from dotenv import load_dotenv
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

load_dotenv()
server = os.getenv('SERVER')
database = os.getenv('DATABASE')
user = os.getenv('USER')
password = os.getenv('PASSWORD')

In [2]:
# Create a connection string
connection_string = f"DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};UID={user};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [3]:
connection = pyodbc.connect(connection_string)

In [4]:

query1 = "SELECT * FROM dbo.Sales_July_2019"

july_df = pd.read_sql(query1, connection)

query2 = "SELECT * FROM dbo.Sales_August_2019"

august_df = pd.read_sql(query2, connection)

query3 = "SELECT * FROM dbo.Sales_September_2019"

september_df = pd.read_sql(query3, connection)

query4 = "SELECT * FROM dbo.Sales_October_2019"

october_df = pd.read_sql(query4, connection)

query5 = "SELECT * FROM dbo.Sales_November_2019"

november_df = pd.read_sql(query5, connection)

query6 = "SELECT * FROM dbo.Sales_December_2019"

december_df = pd.read_sql(query6, connection)

In [5]:
july_df.head()

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,222910.0,Apple Airpods Headphones,1.0,150.00,2026-07-19 16:51:00,"389 South St, Atlanta, GA 30301"
1,222911.0,Flatscreen TV,1.0,300.00,2005-07-19 08:55:00,"590 4th St, Seattle, WA 98101"
2,222912.0,AA Batteries (4-pack),1.0,3.84,2029-07-19 12:41:00,"861 Hill St, Atlanta, GA 30301"
3,222913.0,AA Batteries (4-pack),1.0,3.84,2028-07-19 10:15:00,"190 Ridge St, Atlanta, GA 30301"
4,222914.0,AAA Batteries (4-pack),5.0,2.99,2031-07-19 02:13:00,"824 Forest St, Seattle, WA 98101"

In [7]:
july_df.to_csv('./Data/july_df.csv', index=False)
august_df.to_csv('./Data/august_df.csv', index=False)
september_df.to_csv('./Data/september_df.csv', index=False)
october_df.to_csv('./Data/october_df.csv', index=False)
november_df.to_csv('./Data/november_df.csv', index=False)
december_df.to_csv('./Data/december_df.csv', index=False)