In [1]:
import pyodbc
from dotenv import load_dotenv
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

load_dotenv()
server = os.getenv('SERVER')
database = os.getenv('DATABASE')
user = os.getenv('USER')
password = os.getenv('PASSWORD')

In [2]:
# Create a connection string
connection_string = f"DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};UID={user};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [3]:
connection = pyodbc.connect(connection_string)

In [4]:

query1 = "SELECT * FROM dbo.Sales_July_2019"

july_df = pd.read_sql(query1, connection)

query2 = "SELECT * FROM dbo.Sales_August_2019"

august_df = pd.read_sql(query2, connection)

query3 = "SELECT * FROM dbo.Sales_September_2019"

september_df = pd.read_sql(query3, connection)

query4 = "SELECT * FROM dbo.Sales_October_2019"

october_df = pd.read_sql(query4, connection)

query5 = "SELECT * FROM dbo.Sales_November_2019"

november_df = pd.read_sql(query5, connection)

query6 = "SELECT * FROM dbo.Sales_December_2019"

december_df = pd.read_sql(query6, connection)

In [5]:
july_df.head()

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,222910.0,Apple Airpods Headphones,1.0,150.00,2026-07-19 16:51:00,"389 South St, Atlanta, GA 30301"
1,222911.0,Flatscreen TV,1.0,300.00,2005-07-19 08:55:00,"590 4th St, Seattle, WA 98101"
2,222912.0,AA Batteries (4-pack),1.0,3.84,2029-07-19 12:41:00,"861 Hill St, Atlanta, GA 30301"
3,222913.0,AA Batteries (4-pack),1.0,3.84,2028-07-19 10:15:00,"190 Ridge St, Atlanta, GA 30301"
4,222914.0,AAA Batteries (4-pack),5.0,2.99,2031-07-19 02:13:00,"824 Forest St, Seattle, WA 98101"

In [7]:
july_df.to_csv('./Data/july_df.csv', index=False)
august_df.to_csv('./Data/august_df.csv', index=False)
september_df.to_csv('./Data/september_df.csv', index=False)
october_df.to_csv('./Data/october_df.csv', index=False)
november_df.to_csv('./Data/november_df.csv', index=False)
december_df.to_csv('./Data/december_df.csv', index=False)

In [8]:
jan_df = pd.read_csv('./Data/Sales_January_2019.csv')
feb_df = pd.read_csv('./Data/Sales_February_2019.csv')
mar_df = pd.read_csv('./Data/Sales_March_2019.csv')
apr_df = pd.read_csv('./Data/Sales_April_2019.csv')
may_df = pd.read_csv('./Data/Sales_May_2019.csv')
jun_df = pd.read_csv('./Data/Sales_June_2019.csv')
jul_df = pd.read_csv('./Data/july_df.csv')
aug_df = pd.read_csv('./Data/august_df.csv')
sep_df = pd.read_csv('./Data/september_df.csv')
oct_df = pd.read_csv('./Data/october_df.csv')
nov_df = pd.read_csv('./Data/november_df.csv')
dec_df = pd.read_csv('./Data/december_df.csv')

In [12]:
jan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9723 entries, 0 to 9722
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          9697 non-null   object
 1   Product           9697 non-null   object
 2   Quantity Ordered  9697 non-null   object
 3   Price Each        9697 non-null   object
 4   Order Date        9697 non-null   object
 5   Purchase Address  9697 non-null   object
dtypes: object(6)
memory usage: 455.9+ KB

In [13]:
feb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12036 entries, 0 to 12035
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          12004 non-null  object
 1   Product           12004 non-null  object
 2   Quantity Ordered  12004 non-null  object
 3   Price Each        12004 non-null  object
 4   Order Date        12004 non-null  object
 5   Purchase Address  12004 non-null  object
dtypes: object(6)
memory usage: 564.3+ KB

In [14]:
mar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15226 entries, 0 to 15225
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          15189 non-null  object
 1   Product           15189 non-null  object
 2   Quantity Ordered  15189 non-null  object
 3   Price Each        15189 non-null  object
 4   Order Date        15189 non-null  object
 5   Purchase Address  15189 non-null  object
dtypes: object(6)
memory usage: 713.8+ KB

In [15]:
apr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18383 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18324 non-null  object
 1   Product           18324 non-null  object
 2   Quantity Ordered  18324 non-null  object
 3   Price Each        18324 non-null  object
 4   Order Date        18324 non-null  object
 5   Purchase Address  18324 non-null  object
dtypes: object(6)
memory usage: 861.8+ KB

In [16]:
may_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16635 entries, 0 to 16634
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          16587 non-null  object
 1   Product           16587 non-null  object
 2   Quantity Ordered  16587 non-null  object
 3   Price Each        16587 non-null  object
 4   Order Date        16587 non-null  object
 5   Purchase Address  16587 non-null  object
dtypes: object(6)
memory usage: 779.9+ KB

In [19]:
jun_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13622 entries, 0 to 13621
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          13579 non-null  object
 1   Product           13579 non-null  object
 2   Quantity Ordered  13579 non-null  object
 3   Price Each        13579 non-null  object
 4   Order Date        13579 non-null  object
 5   Purchase Address  13579 non-null  object
dtypes: object(6)
memory usage: 638.7+ KB

In [20]:
jul_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14371 entries, 0 to 14370
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          14291 non-null  float64
 1   Product           14326 non-null  object
 2   Quantity_Ordered  14291 non-null  float64
 3   Price_Each        14291 non-null  float64
 4   Order_Date        14291 non-null  object
 5   Purchase_Address  14326 non-null  object
dtypes: float64(3), object(3)
memory usage: 673.8+ KB

In [48]:
first_half_sales_df = pd.concat([jan_df, feb_df, mar_df, apr_df, may_df, jun_df], axis=0)

In [33]:
first_half_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85625 entries, 0 to 13621
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          85380 non-null  object
 1   Product           85380 non-null  object
 2   Quantity Ordered  85380 non-null  object
 3   Price Each        85380 non-null  object
 4   Order Date        85380 non-null  object
 5   Purchase Address  85380 non-null  object
dtypes: object(6)
memory usage: 4.6+ MB

In [49]:
first_half_sales_df.head(20)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
5,141239,AAA Batteries (4-pack),1,2.99,01/29/19 20:22,"775 Willow St, San Francisco, CA 94016"
6,141240,27in 4K Gaming Monitor,1,389.99,01/26/19 12:16,"979 Park St, Los Angeles, CA 90001"
7,141241,USB-C Charging Cable,1,11.95,01/05/19 12:04,"181 6th St, San Francisco, CA 94016"
8,141242,Bose SoundSport Headphones,1,99.99,01/01/19 10:30,"867 Willow St, Los Angeles, CA 90001"
9,141243,Apple Airpods Headphones,1,150,01/22/19 21:20,"657 Johnson St, San Francisco, CA 94016"
10,141244,Apple Airpods Headphones,1,150,01/07/19 11:29,"492 Walnut St, San Francisco, CA 94016"
11,141245,Macbook Pro Laptop,1,1700,01/31/19 10:12,"322 6th St, San Francisco, CA 94016"
12,141246,AAA Batteries (4-pack),3,2.99,01/09/19 18:57,"618 7th St, Los Angeles, CA 90001"
13,141247,27in FHD Monitor,1,149.99,01/25/19 19:19,"512 Wilson St, San Francisco, CA 94016"
14,141248,Flatscreen TV,1,300,01/03/19 21:54,"363 Spruce St, Austin, TX 73301"
15,141249,27in FHD Monitor,1,149.99,01/05/19 17:20,"440 Cedar St, Portland, OR 97035"
16,141250,Vareebadd Phone,1,400,01/10/19 11:20,"471 Center St, Los Angeles, CA 90001"
17,141251,Apple Airpods Headphones,1,150,01/24/19 08:13,"414 Walnut St, Boston, MA 02215"
18,141252,USB-C Charging Cable,1,11.95,01/30/19 09:28,"220 9th St, Los Angeles, CA 90001"
19,141253,AA Batteries (4-pack),1,3.84,01/17/19 00:09,"385 11th St, Atlanta, GA 30301"

In [50]:
first_half_sales_df['Quantity Ordered'].iloc[1073]

'Quantity Ordered'

In [51]:
remove = first_half_sales_df[first_half_sales_df['Quantity Ordered']=='Quantity Ordered']

In [52]:
first_half_sales_df = first_half_sales_df.drop(remove.index)

In [53]:
first_half_sales_df['Quantity Ordered'] = pd.to_numeric(first_half_sales_df['Quantity Ordered'])
first_half_sales_df['Price Each'] = pd.to_numeric(first_half_sales_df['Price Each'])

In [57]:
first_half_sales_df['Order Date'] = pd.to_datetime(first_half_sales_df['Order Date'])

In [58]:
first_half_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84771 entries, 0 to 13621
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          84527 non-null  object
 1   Product           84527 non-null  object
 2   Quantity Ordered  84527 non-null  float64
 3   Price Each        84527 non-null  float64
 4   Order Date        84527 non-null  datetime64[ns]
 5   Purchase Address  84527 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 4.5+ MB

In [59]:
first_half_sales_df.head(30)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1.0,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1.0,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2.0,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1.0,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1.0,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301"
5,141239,AAA Batteries (4-pack),1.0,2.99,2019-01-29 20:22:00,"775 Willow St, San Francisco, CA 94016"
6,141240,27in 4K Gaming Monitor,1.0,389.99,2019-01-26 12:16:00,"979 Park St, Los Angeles, CA 90001"
7,141241,USB-C Charging Cable,1.0,11.95,2019-01-05 12:04:00,"181 6th St, San Francisco, CA 94016"
8,141242,Bose SoundSport Headphones,1.0,99.99,2019-01-01 10:30:00,"867 Willow St, Los Angeles, CA 90001"
9,141243,Apple Airpods Headphones,1.0,150.00,2019-01-22 21:20:00,"657 Johnson St, San Francisco, CA 94016"
10,141244,Apple Airpods Headphones,1.0,150.00,2019-01-07 11:29:00,"492 Walnut St, San Francisco, CA 94016"
11,141245,Macbook Pro Laptop,1.0,1700.00,2019-01-31 10:12:00,"322 6th St, San Francisco, CA 94016"
12,141246,AAA Batteries (4-pack),3.0,2.99,2019-01-09 18:57:00,"618 7th St, Los Angeles, CA 90001"
13,141247,27in FHD Monitor,1.0,149.99,2019-01-25 19:19:00,"512 Wilson St, San Francisco, CA 94016"
14,141248,Flatscreen TV,1.0,300.00,2019-01-03 21:54:00,"363 Spruce St, Austin, TX 73301"
15,141249,27in FHD Monitor,1.0,149.99,2019-01-05 17:20:00,"440 Cedar St, Portland, OR 97035"
16,141250,Vareebadd Phone,1.0,400.00,2019-01-10 11:20:00,"471 Center St, Los Angeles, CA 90001"
17,141251,Apple Airpods Headphones,1.0,150.00,2019-01-24 08:13:00,"414 Walnut St, Boston, MA 02215"
18,141252,USB-C Charging Cable,1.0,11.95,2019-01-30 09:28:00,"220 9th St, Los Angeles, CA 90001"
19,141253,AA Batteries (4-pack),1.0,3.84,2019-01-17 00:09:00,"385 11th St, Atlanta, GA 30301"
20,141254,AAA Batteries (4-pack),1.0,2.99,2019-01-08 11:51:00,"238 Sunset St, Seattle, WA 98101"
21,141255,USB-C Charging Cable,1.0,11.95,2019-01-09 20:55:00,"764 11th St, Los Angeles, CA 90001"
22,141256,Google Phone,1.0,600.00,2019-01-29 10:40:00,"675 Washington St, Portland, OR 97035"
23,141257,Apple Airpods Headphones,1.0,150.00,2019-01-12 18:51:00,"338 Highland St, San Francisco, CA 94016"
24,141258,AA Batteries (4-pack),1.0,3.84,2019-01-19 21:47:00,"820 1st St, San Francisco, CA 94016"
25,141259,AAA Batteries (4-pack),2.0,2.99,2019-01-20 17:26:00,"920 Adams St, San Francisco, CA 94016"
26,141260,AAA Batteries (4-pack),1.0,2.99,2019-01-01 22:00:00,"293 Hill St, San Francisco, CA 94016"
27,141261,USB-C Charging Cable,1.0,11.95,2019-01-09 18:14:00,"840 Lincoln St, Atlanta, GA 30301"
28,141262,AAA Batteries (4-pack),1.0,2.99,2019-01-16 12:35:00,"291 Lincoln St, San Francisco, CA 94016"
29,141263,Bose SoundSport Headphones,1.0,99.99,2019-01-11 23:33:00,"640 Spruce St, Boston, MA 02215"

In [71]:
second_half_sales_df = pd.concat([jul_df, aug_df, sep_df, oct_df, nov_df, dec_df], axis=0)

In [72]:
second_half_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101225 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order_ID          100730 non-null  float64
 1   Product           100925 non-null  object
 2   Quantity_Ordered  100730 non-null  float64
 3   Price_Each        100730 non-null  float64
 4   Order_Date        100730 non-null  object
 5   Purchase_Address  100925 non-null  object
dtypes: float64(3), object(3)
memory usage: 5.4+ MB

In [73]:
second_half_sales_df['Order_ID'] = second_half_sales_df['Order_ID'].astype(str)

In [74]:
#second_half_sales_df['Order_Date'] = pd.to_datetime(second_half_sales_df['Order_Date'])

In [75]:
second_half_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101225 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order_ID          101225 non-null  object
 1   Product           100925 non-null  object
 2   Quantity_Ordered  100730 non-null  float64
 3   Price_Each        100730 non-null  float64
 4   Order_Date        100730 non-null  object
 5   Purchase_Address  100925 non-null  object
dtypes: float64(2), object(4)
memory usage: 5.4+ MB

In [76]:
second_half_sales_df.head()

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,222910.0,Apple Airpods Headphones,1.0,150.00,2026-07-19 16:51:00,"389 South St, Atlanta, GA 30301"
1,222911.0,Flatscreen TV,1.0,300.00,2005-07-19 08:55:00,"590 4th St, Seattle, WA 98101"
2,222912.0,AA Batteries (4-pack),1.0,3.84,2029-07-19 12:41:00,"861 Hill St, Atlanta, GA 30301"
3,222913.0,AA Batteries (4-pack),1.0,3.84,2028-07-19 10:15:00,"190 Ridge St, Atlanta, GA 30301"
4,222914.0,AAA Batteries (4-pack),5.0,2.99,2031-07-19 02:13:00,"824 Forest St, Seattle, WA 98101"

In [84]:
second_half_sales_df['Order_Date'] = second_half_sales_df['Order_Date'].str[2:]

In [85]:
second_half_sales_df.head(10)

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,222910.0,Apple Airpods Headphones,1.0,150.000000,26-07-19 16:51:00,"389 South St, Atlanta, GA 30301"
1,222911.0,Flatscreen TV,1.0,300.000000,05-07-19 08:55:00,"590 4th St, Seattle, WA 98101"
2,222912.0,AA Batteries (4-pack),1.0,3.840000,29-07-19 12:41:00,"861 Hill St, Atlanta, GA 30301"
3,222913.0,AA Batteries (4-pack),1.0,3.840000,28-07-19 10:15:00,"190 Ridge St, Atlanta, GA 30301"
4,222914.0,AAA Batteries (4-pack),5.0,2.990000,31-07-19 02:13:00,"824 Forest St, Seattle, WA 98101"
5,222915.0,Bose SoundSport Headphones,1.0,99.989998,03-07-19 18:30:00,"899 Elm St, San Francisco, CA 94016"
6,222916.0,Google Phone,1.0,600.000000,21-07-19 22:39:00,"745 Chestnut St, New York City, NY 10001"
7,222917.0,LG Dryer,1.0,600.000000,17-07-19 13:44:00,"490 Adams St, New York City, NY 10001"
8,222918.0,USB-C Charging Cable,1.0,11.950000,14-07-19 21:16:00,"207 1st St, Los Angeles, CA 90001"
9,222919.0,Lightning Charging Cable,1.0,14.950000,14-07-19 13:24:00,"29 Jefferson St, Dallas, TX 75001"

In [86]:
second_half_sales_df['Order_Date'] = pd.to_datetime(second_half_sales_df['Order_Date'])

In [90]:
second_half_sales_df = second_half_sales_df.rename(columns={'Order_ID': 'Order ID'})
second_half_sales_df = second_half_sales_df.rename(columns={'Quantity_Ordered': 'Quantity Ordered'})
second_half_sales_df = second_half_sales_df.rename(columns={'Price_Each': 'Price Each'})
second_half_sales_df = second_half_sales_df.rename(columns={'Purchase_Address': 'Purchase Address'})
second_half_sales_df = second_half_sales_df.rename(columns={'Order_Date': 'Order Date'})

In [91]:
second_half_sales_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,222910.0,Apple Airpods Headphones,1.0,150.00,2019-07-26 16:51:00,"389 South St, Atlanta, GA 30301"
1,222911.0,Flatscreen TV,1.0,300.00,2019-05-07 08:55:00,"590 4th St, Seattle, WA 98101"
2,222912.0,AA Batteries (4-pack),1.0,3.84,2019-07-29 12:41:00,"861 Hill St, Atlanta, GA 30301"
3,222913.0,AA Batteries (4-pack),1.0,3.84,2019-07-28 10:15:00,"190 Ridge St, Atlanta, GA 30301"
4,222914.0,AAA Batteries (4-pack),5.0,2.99,2019-07-31 02:13:00,"824 Forest St, Seattle, WA 98101"

In [92]:
sales_df = pd.concat([first_half_sales_df, second_half_sales_df], axis=0)
sales_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1.0,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1.0,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2.0,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1.0,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1.0,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301"

In [93]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185996 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185752 non-null  object
 1   Product           185452 non-null  object
 2   Quantity Ordered  185257 non-null  float64
 3   Price Each        185257 non-null  float64
 4   Order Date        185257 non-null  datetime64[ns]
 5   Purchase Address  185452 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 9.9+ MB

In [95]:
sales_df.describe(include='all').T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
Order ID,185752,177797,nan,495,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product,185452,20,USB-C Charging Cable,21827,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Quantity Ordered,185257.0,NaN,NaN,NaN,1.124254,1.0,1.0,1.0,1.0,9.0,0.442466
Price Each,185257.0,NaN,NaN,NaN,184.414985,2.99,11.95,14.95,150.0,1700.0,332.795015
Order Date,185257,NaN,NaN,NaN,2019-06-28 07:32:04.536184832,2019-01-01 03:07:00,2019-04-01 10:51:00,2019-06-10 06:59:00,2019-10-11 10:34:00,2020-01-01 05:13:00,NaN
Purchase Address,185452,140414,Purchase Address,195,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
sales_df.isna().sum()

Order ID            244
Product             544
Quantity Ordered    739
Price Each          739
Order Date          739
Purchase Address    544
dtype: int64

In [97]:
sales_df.duplicated().sum()

np.int64(998)

In [98]:
sales_df = sales_df.drop_duplicates()

In [105]:
sales_df.isna().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [104]:
null_df = sales_df[sales_df.isna().any(axis=1)]
null_df

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address]
Index: []

In [103]:
sales_df = sales_df.drop([null_df.index[0], null_df.index[1], null_df.index[2]])

In [106]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 184962 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          184962 non-null  object
 1   Product           184962 non-null  object
 2   Quantity Ordered  184962 non-null  float64
 3   Price Each        184962 non-null  float64
 4   Order Date        184962 non-null  datetime64[ns]
 5   Purchase Address  184962 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 9.9+ MB

In [107]:
sales_df.to_csv('./Data/sales_df.csv', index=False)